<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>兑换</title>
    <link rel="stylesheet" href="__WCSS__/style.css">
    <link rel="stylesheet" href="__WCSS__/meCen.css">
</head>
<body class="bg96">

<div class="header">
    <div class="header_l">
        <a href="{:U('Home/User/found')}"><img src="__WIMG__/jiant.png"></a>
    </div>
    <div class="header_c"><h2>兑换</h2></div>
</div>

<div class="big_width100">
    <div class="fill_sty">
        <p>兑换类型：</p>
        <select name="" id="changeType" style="height: 32px; margin-top: 6px;">
            <option value="1">可用余额兑换消费通证</option>
        </select>
    </div>
    <div class="fill_sty" id="changeContent">
        <div>
            <p style="padding-bottom:0px; width: 35%">当前可用余额：</p>
            <input style="width: 60%" type="text" readonly autocomplete="off" class="cangku_num" value="{$userInfo['cangku_num']}">
        </div>
        <div id="moneysChange">
            <p style="padding-bottom:0px;width: 35%">当前消费通证：</p>
            <input style="width: 60%" type="text" readonly autocomplete="off" class="fengmi_num" value="{$userInfo['fengmi_num']}">
        </div>
    </div>
    <div class="fill_sty">
        <p>兑换数量：</p>
        <input type="number" name="amount" class="amount" placeholder="只能输入100的整数倍" autocomplete="off">
    </div>
    <div class="fill_sty">
        <p>手续费：</p>
        <input type="text" class="fee_num" readonly value="">
    </div>
    <div class="fill_sty">
        <p>交易密码：</p>
        <input type="password" name="safety_pwd" placeholder="输入交易密码" autocomplete="off">
    </div>
    <div class="buttonGeoup">
<!--        <a href="JavaScript:void(0)" class="not_next" id="submit-exchange">提交兑换</a>-->
    </div>
</div>
<script type="text/javascript" src="__WJS__/jquery1.11.1.min.js"></script>
<script type="text/javascript" src="__COM__/layer/layer.js"></script>
<script type="text/javascript" src="__COM__/js/index.js"></script>
<script type="text/javascript">
    $('.amount').blur(function () {
        var amount = $(this).val();
        if (!isNumberByMultiple(amount, 100)) {
            $(this).val('');
            $('.fee_num').val('');
            msg_alert('请输入100的整数倍~');
            return false;
        }
        var fee_ratio = "{$fee_ratio}";
        var fee_num = amount * fee_ratio;
        $('.fee_num').val(fee_num);
    });

    $('#submit-exchange').on('click', function () {
        var amount = parseInt($.trim($('.amount').val()));
        var exg = /^[1-9]\d*|0$/;
        if (!exg.test(amount)) {
            msg_alert('请输入兑换金额~');
            return;
        }

        var safety_pwd = $.trim($('input[name=safety_pwd]').val());
        if (safety_pwd === '') {
            msg_alert('请输入交易密码~');
            return;
        }

        var is_ajax = $('#submit-exchange').hasClass('is_ajax');
        if (is_ajax) {
            msg_alert('请勿频繁操作~');
            return;
        }
        $('#submit-exchange').addClass('is_ajax');

        //ajax操作g
        $.ajax({
            url: "{:U('Shop/member/exchange')}",
            type: 'post',
            data: {'amount': amount, 'safety_pwd': safety_pwd},
            datatype: 'json',
            success: function (mes) {
                if (mes.status) {
                    msg_alert(mes.msg);
                    window.location.reload();
                } else {
                    msg_alert(mes.msg);
                    $('#submit-exchange').removeClass('is_ajax');
                }
            }
        })
    });
</script>

</body>
</html>