<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
    <title>认证协议</title>
    <link rel="stylesheet" href="__RZCSS__/header.css">
    <style>
        .top_top{padding: 4vmin;font-size: 3.4vmin;color: #444;line-height: 5vmin;margin-bottom: 6vmin;width: 90%;height: 100%;}
    </style>
</head>

<body id="huise">
<div class="fxm_header" style="background:#000000">
    <div class="fxm_left">
        <a href="javascript:history.go(-1)"><img src="__RZCSS__/left.png"></a>
    </div>
    <div class="fxm_center">认证协议</div>
</div>
<div class="top_top">
    {$content|htmlspecialchars_decode}
</div>
</body>
</html>