<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>可用余额提现  </title>
    <link rel="stylesheet" href="__WCSS__/style.css">
    <link rel="stylesheet" href="__WCSS__/meCen.css">
</head>
<body class="bg96 ">

<div class="header">
    <div class="header_l">
        <a href="{:U('Home/User/found')}"><img src="__WIMG__/jiant.png" alt=""></a>
    </div>
    <div class="header_c"><h2>可用余额提现  </h2></div>
    <div class="header_r"><a href="javascript:void(0)" id="hide"><img src="__WIMG__/moer_icon.png" alt=""></a>
        <div id="p1">
            <div class="down"></div>
            <ul>
                <li><a href="{:U('member/withdrawalRecord')}">提现记录</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="big_width100">

    <eq name="bankInfo['card_number']" value="">
        <!--未添加银行卡-->
        <div class="addCard SellAddCard">
            <a href="{:U('Home/Growth/Addbank',array('back_url'=>'withdrawal'))}">+{$Think.lang.addcard}</a>
        </div>
        <else />
        <div class="haveCard SellAddCard">
            <div class="bdingcard"><a href="{:U('Home/Growth/Cardinfos',array('back_url'=>'withdrawal'))}"><h4>{$Think.lang.bdbankcard}</h4>
                <p>&#62</p></a></div>
            <div class="cardInfo">
                <p>{$bankInfo['hold_name']}</p>
                <p>{$bankInfo['banq_genre']}</p>
                <p>银行卡号:{$bankInfo['card_number']}</p>
                <input type="hidden" class="carnumber" value="{$bankInfo['id']}">
            </div>
        </div>
    </eq>


    <div class="pad9"></div>
    <div class="buy_aminy br-b">
        <div class="fill_sty fill_sty_bor">
            <p style="margin-left: 0%;width: 35%;">当前可用余额：</p>
            <input type="text" readonly class="dhnums ecological_total_assets"  autocomplete="off" value="{$storeInfo.cangku_num}">
        </div>
        <div class="fill_sty fill_sty_bor">
            <p style="margin-left: 0%;width: 22%;">提现金额：</p>
            <input type="number" name="phone_number" class="dhnums amount" placeholder="输入提现金额" autocomplete="off" id="number">
        </div>
        <div class="fill_sty fill_sty_bor">
            <p style="margin-left: 0%;width: 22%;">手续费：</p>
            <input class="dhnums poundage" value="0" readonly autocomplete="off" >
        </div>
        <div class="fill_sty fill_sty_bor">
            <p style="margin-left: 0%;width: 22%;">交易密码：</p>
            <input type="password" name="safety_pwd" class="dhnums" placeholder="输入交易密码" autocomplete="off" >
        </div>
    </div>

    <div class="buttonGeoup">
        <a href="JavaScript:void(0)" class="not_next ljzf_but" id="cuanjdd">提交 </a>
    </div>

</div>
<script type="text/javascript" src="__WJS__/jquery1.11.1.min.js"></script>
<script type="text/javascript" src="__COM__/layer/layer.js"></script>
<script type="text/javascript" src="__COM__/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#p1").toggle(); //toggle() 方法切换元素的可见状态。 如果被选元素可见,则隐藏这些元素,如果被选元素隐藏,则显示这些元素。
        });
    });

    $('.amount').blur(function () {
        var amount = $(this).val();
        if(!isNumberBy100(amount)){
            $(this).val('');
            $('.poundage').val(0);
            msg_alert('请输入100的整数倍~');
            return false;
        }
        var poundage = amount * '{$withdrawal_ratio}';
        $('.poundage').val(poundage);
    });

    //验证数字是否是100的整数倍
    function isNumberBy100(ssn) {
        var re = /^[0-9]*[0-9]$/i; //校验是否为数字
        if(re.test(ssn) && ssn%100 === 0) {
            return true;
        }else {
            return false;
        }
    }

    $('#cuanjdd').on('click', function () {
        $("#p1").hide(); //toggle() 方法切换元素的可见状态。 如果被选元素可见,则隐藏这些元素,如果被选元素隐藏,则显示这些元素。

        var amount = $.trim($('.amount').val()); //账号  //.trim() 去空格判断
        var exg = /^[1-9]\d*|0$/;
        if (!exg.test(amount)) {
            msg_alert('请输入提现金额~');
            return;
        }
        var ecological_total_assets = $('.ecological_total_assets').val();
        if(amount > ecological_total_assets){
            msg_alert('您暂时没那么多可用余额可提现~');
            return;
        }

        var safety_pwd = $.trim($('input[name=safety_pwd]').val());
        if(safety_pwd === ''){
            msg_alert('请输入交易密码~');
            return;
        }
        if(safety_pwd.length < 6){
            msg_alert('交易密码错误~');
            return;
        }

        //是否存在银行卡
        var cardid = $('.carnumber').val();
        if(cardid === '' || cardid === undefined){
            msg_alert('请先添加银行卡~');
            return;
        }

        var is_ajax= $('#cuanjdd').hasClass('is_ajax');
        if(is_ajax){
            msg_alert('请勿频繁操作~');
            return;
        }
        $('#cuanjdd').addClass('is_ajax');
        //ajax操作g
        $.ajax({
            url:"{:U('Shop/member/withdrawal')}",
            type:'post',
            data:{'amount':amount,'safety_pwd':safety_pwd,'cardid':cardid},
            datatype:'json',
            success:function (mes) {
                if(mes.status){
                    msg_alert(mes.msg);
                    window.location.reload()
                }else{
                    msg_alert(mes.msg);
                }
                $('#cuanjdd').removeClass('is_ajax');
            }
        })
    });
</script>

</body>
</html>