<div class="builder-tabs builder-form-tabs">
    <ul class="nav nav-tabs">

        <li class="<if condition='$methods eq base'>active </if>">
            <a href="{:U('Config/group2',array('group'=>1))}">参数设置</a>
        </li>

        <!--<li class="<if condition='$methods eq fee'>active </if>" >-->
            <!--<a href="{:U('Config/group4')}">奖励设置</a>-->
        <!--</li>-->

        <li class="<if condition='$methods eq price'>active </if>">
            <a href="{:U('Config/group1',array('group1'=>5))}">实时价格设置</a>
        </li>

        <li class="<if condition='$methods eq index'>active </if>" >
            <a href="{:U('Config/index')}">收款账户</a>
        </li>

        <!--<li class="">-->
        <!--<a href="{:U('Config/group',array('group'=>3))}">网站开关</a>-->
        <!--</li>-->
    </ul>
</div>