<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
    <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
                <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">基本设置</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <!--栏目-->
                    <include file="Public:config-header" />
                    <!--栏目-->
                    <div class="form-group"></div>
                    <div class="builder-container" >
                        <div class="row" >
                            <div class="col-xs-12" >

                                基本设置
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setConfig')}" method="post" class="form-horizontal form form-builder setSignInMoney">
                                    <div class="form-type-list">
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">注册赠送流动资产：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[reg_send_flow]" class="form-control" value="{$data['reg_send_flow']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱分享奖比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[share_to_flow_ratio]" class="form-control" value="{$data['share_to_flow_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱流动通证比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[share_to_can_flow_ratio]" class="form-control" value="{$data['share_to_can_flow_ratio']}">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">感恩奖比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[thankful_award_ratio]" class="form-control" value="{$data['thankful_award_ratio']}">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">直推释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[direct_release_ratio]" class="form-control" value="{$data['direct_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">锁仓通证倍数设置：</label>
                                            <div style="width:200px;float: left;" class="input-group">
                                                <input type="number" readonly class="form-control" value="{$data['lock_warehouse_day_one']}">
                                            </div>
                                            <div style="float: left;line-height: 34px;" class="input-group">&nbsp; 天 ~ 倍数：&nbsp;</div>
                                            <div style="width:200px" class="input-group">
                                                <input type="number" name="config[lock_warehouse_multiple_one]" class="form-control" value="{$data['lock_warehouse_multiple_one']}" placeholder="请输入倍数">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label"></label>
                                            <div style="width:200px;float: left;" class="input-group">
                                                <input type="number" readonly class="form-control" value="{$data['lock_warehouse_day_two']}">
                                            </div>
                                            <div style="float: left;line-height: 34px;" class="input-group">&nbsp; 天 ~ 倍数：&nbsp;</div>
                                            <div style="width:200px" class="input-group">
                                                <input type="number" name="config[lock_warehouse_multiple_two]" class="form-control" value="{$data['lock_warehouse_multiple_two']}" placeholder="请输入倍数">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label"></label>
                                            <div style="width:200px;float: left;" class="input-group">
                                                <input type="number" readonly class="form-control" value="{$data['lock_warehouse_day_three']}">
                                            </div>
                                            <div style="float: left;line-height: 34px;" class="input-group">&nbsp; 天 ~ 倍数：&nbsp;</div>
                                            <div style="width:200px" class="input-group">
                                                <input type="number" name="config[lock_warehouse_multiple_three]" class="form-control" value="{$data['lock_warehouse_multiple_three']}" placeholder="请输入倍数">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label"></label>
                                            <div style="width:200px;float: left;" class="input-group">
                                                <input type="number" readonly class="form-control" value="{$data['lock_warehouse_day_four']}">
                                            </div>
                                            <div style="float: left;line-height: 34px;" class="input-group">&nbsp; 天 ~ 倍数：&nbsp;</div>
                                            <div style="width:200px" class="input-group">
                                                <input type="number" name="config[lock_warehouse_multiple_four]" class="form-control" value="{$data['lock_warehouse_multiple_four']}" placeholder="请输入倍数">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">锁仓通证释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[lock_warehouse_release_ratio]" class="form-control" value="{$data['lock_warehouse_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setSignInMoney">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>

                                百宝箱释放比例
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setConfig')}" method="post" class="form-horizontal form form-builder setBaiBaoBoxRelease">
                                    <div class="form-type-list">

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱分享奖释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[bai_bao_share_release_ratio]" class="form-control" value="{$data['bai_bao_share_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱绩效奖释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[bai_bao_merits_release_ratio]" class="form-control" value="{$data['bai_bao_merits_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱感恩奖释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[bai_bao_thankful_release_ratio]" class="form-control" value="{$data['bai_bao_thankful_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱流动通证释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[bai_bao_flow_release_ratio]" class="form-control" value="{$data['bai_bao_flow_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="left control-label">百宝箱流动通证释放到：</label>
                                            <div class="right">
                                                <div class="radio-inline cui-control cui-radio">
                                                    <label>
                                                        <input type="radio" class="radio" name="config[bai_bao_flow_release_from]" value="0" <eq name="data['bai_bao_flow_release_from']" value='0' > checked="true"</eq> >
                                                        <span class="cui-control-indicator"></span>
                                                        <span>生态总资产</span>
                                                    </label>
                                                </div>
                                                <div class="radio-inline cui-control cui-radio">
                                                    <label>
                                                        <input type="radio" class="radio" name="config[bai_bao_flow_release_from]" value="1" <eq name="data['bai_bao_flow_release_from']" value='1' > checked="true"</eq> >
                                                        <span class="cui-control-indicator"></span>
                                                        <span>产品积分</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">百宝箱回馈释放比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[bai_bao_feedback_release_ratio]" class="form-control" value="{$data['bai_bao_feedback_release_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setBaiBaoBoxRelease">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>

                                兑换，转账, 提现配置
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setConfig')}" method="post" class="form-horizontal form form-builder setExchangeTransfer">
                                    <div class="form-type-list">
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">生态总资产兑换消费通证手续费比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[ecology_to_bao_dan_fee_ratio]" class="form-control" value="{$data['ecology_to_bao_dan_fee_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">消费通证,生态总资产互转手续费比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[transfer_accounts_fee_ratio]" class="form-control" value="{$data['transfer_accounts_fee_ratio']}">
                                            </div>
                                        </div>

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">生态总资产提现手续费比例：</label>
                                            <div style="width:310px" class="input-group">
                                                <input type="number" style="width:200px" name="config[withdrawal_ratio]" class="form-control" value="{$data['withdrawal_ratio']}">
                                            </div>
                                        </div>


                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setExchangeTransfer">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="col-xs-12" style="display: none">
                                归集倍数
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setMultiple')}" method="post" class="form-horizontal form form-builder setMultiple">
                                    <div class="form-type-list">

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">倍数：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="collection_multiple" value="{$collection_multiple}" placeholder="请输入归集倍数">
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setMultiple">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-xs-12" style="display: none">
                                会员子账户个数
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setSubaccounts')}" method="post" class="form-horizontal form form-builder setSubaccounts">
                                    <div class="form-type-list">

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">个数：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="subaccounts_num" value="{$subaccounts_num}" placeholder="请输入个数">
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setSubaccounts">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-xs-12" style="display: none">
                                卖出指定发送短信
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/sellSendMobile')}" method="post" class="form-horizontal form form-builder sellsendmobile">
                                    <div class="form-type-list">

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">手机号码：</label>
                                            <div style="width:200px;" class="input-group">
                                                <textarea name="mobile" style="width: 381px;height:70px" cols="20">{$mobile}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="sellsendmobile">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-xs-12" >
                                发送邮箱配置
                                <hr style="margin-top: 0px;width: 100%">
                                <form action="{:U('Config/setEmailConfiguration')}" method="post" class="form-horizontal form form-builder setEmailConfiguration">
                                    <div class="form-type-list">

                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">邮箱服务器：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="email_server" value="{$email_server}" placeholder="请输入邮箱服务器">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">服务器端口：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="email_server_port" value="{$email_server_port}" placeholder="请输入服务器端口">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">发信邮箱地址：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="email_address" value="{$email_address}" placeholder="请输入发信邮箱地址">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">SMTP账户名：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="email_account_name" value="{$email_account_name}" placeholder="请输入SMTP账户名">
                                            </div>
                                        </div>
                                        <div class="form-group item_config[WEB_SITE_TITLE] ">
                                            <label class="left control-label">SMTP账户名密码（授权码）：</label>
                                            <div style="width:200px;" class="input-group">
                                                <input type="text" style="width: 381px;height:35px" cols="20" name="email_account_pwd" value="{$email_account_pwd}" placeholder="请输入SMTP账户名密码">
                                            </div>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="setEmailConfiguration">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>