<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">{:isset($info)?'修改':新增}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" value="{$info.id}">
                                                </div>
                                            </div>

                                             <div class="form-group item_title ">
                                                <label class="left control-label">标题：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="title" value="{$info.title}" placeholder="标题" >
                                                </div>
                                            </div>
                                            <!--<div class="form-group item_title ">-->
                                                <!--<label class="left control-label">日期：</label>-->
                                                <!--<div class="right" style="width:150px;">-->
                                                    <!--<input type="text" name="create_time" class="search-input form-control date" value="{$info.create_time}" placeholder="日期">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <div class="form-group ">
                                                <label class="left control-label">是否展示到首页：</label>
                                                <div class="right">
                                                    <?php $is_index = isset($info['is_index']) ? $info['is_index'] : 0;?>
                                                    <div class="radio-inline cui-control cui-radio">
                                                        <label for="show_index">
                                                            <input type="radio" id="show_index" class="radio" name="is_index" value="1" <eq name="is_index" value='1' > checked="true"</eq> >
                                                            <span class="cui-control-indicator"></span>
                                                            <span>是</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline cui-control cui-radio">
                                                        <label for="close_index">
                                                            <input type="radio" id="close_index" class="radio" name="is_index" value="0" <eq name="is_index" value='0' > checked="true"</eq> >
                                                            <!--<eq name="info['is_index']" value='0' > checked="true"</eq>-->
                                                            <span class="cui-control-indicator"></span>
                                                            <span>否</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="left control-label">内容：</label>
                                                <div class="right">
                                                    <textarea class="form-control textarea" style="height:400px;" rows="5" name="content">{$info.content}</textarea>
                                                    <span class="check-tips text-muted small">填写系统公告</span>
                                                </div>
                                            </div>

                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                           <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script>
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true,
            todayBtn:1, //是否显示今日按钮
        });
        var editor;
        KindEditor.ready(function(K)
        {
            editor = K.create('textarea[name="content"]',
                {
                    allowFileManager : true,
                    afterBlur: function () { this.sync(); }
                });
        });


    </script>
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>